html, body {
    height: 100%;
    background-color: black;
}

body {
    display: flex;
}

li {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    outline-style: dashed;
    outline-color: lightslategray;
}

canvas {
    position: absolute;
    /* background-color: lightsalmon; */
    width: 30px;
    height: 30px;
}

.left-bar {
    background-color: lightblue;
    width: 13%;
    margin: 2%;
}

.left-bar li {
    height: 33.33%;
}

.center-bar {
    background-color: lightgoldenrodyellow;
    width: 68%;
    margin: 2% 0%;
}

.main-bar {
    display: flex;
    justify-content: center;
    background-color: lightcoral;
    height: 10%;
}

.main-bar li button {
    text-align: center;
    width: 10%;
}

.main-bar li {
    width: 50%;
}

.main-screen {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: lightsalmon;
    height: 90%;
    padding-top: 1px;
}

.shield-hero-game {
    background-color: yellow;
    /* display: flex; */
    width: 600px;
    height: 600px;
}

.main-screen ul {
    /* width: 80%; */
    display: flex;
    /* height: 80%; */
}

.main-screen ul li {
    background-color: lightskyblue;
    height: 37.5px;
    width: 37.5px;
}

.right-bar {
    background-color: lightgreen;
    width: 13%;
    margin: 2%;
}

.right-bar li {
    height: 100%;
}